*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("assets/Untitled1.jpg"); 
    height: 80vh;
    position:relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.45;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 60vw;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}

nav img{
    color: red;
    width: 100px;
    position: relative;
    z-index: 10;
}

nav buttons{
    position: relative;
    z-index:10;
}
.hero{
    height:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    font-family: 'Martel Sans', sans-serif;
}
.hero :first-child{
    font-weight: bolder;
    font-size: 48px;
}