*{
    margin: 0;
    padding: 0;
}
.main{
    background-image: url("assets/Untitled1.jpg"); 
    height: 80vh;
    position:relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
}

.main .box{
    height: 80vh;
    width: 100%;
    opacity: 0.45;
    position: absolute;
    top: 0;
    background-color: black;
}

nav{
    max-width: 80vw;
    margin:auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
}